<%= render "users/userinfo" user :@user %>
<%= render"books/newbook" book :@book %>

<div>
  <h1>Books</h1>
  <table>
    <th></th>
    <th>Title</th>
    <th>Opinion</th>
  </table>
  <tbody>
    <% @books.each do |book| %>
    <tr>
      <td><%= image_tag user.profile_image,size:'100x100' %></td>
      <td><%= link_to "<%= book.title %>", edit_book_path %></td>
      <td><%= book.body %></td>
    </tr>
  </tbody>
</div>