<h1>Book detail</h1>
<tbody>
  <tr>
    <td>
      <%= link_to user_path(@book.user.id) do %>
        <%= image_tag @book.user.get_profile_image, size:"100*100" %><br>
        <%= @book.user.name %>
      <% end %>  
    </td>
    <td><%= link_to @book.title,@book %></td>
    <td><%= @book.body %></td>
    <% if @book.user == current_user %>
      <% link_to "Show", book_path(@book) %>
      <% link_to "Destroy", @book, method: :delete,data: { confirm: '本当に消しますか？' } %>
    <% end %>
  </tr>
</tbody>